
.homepage {
  margin: auto;
}

.homepage-title {
  font-weight: 700;
  font-size: 2rem;
}

.homepage-text {
  font-weight: 500;
  font-size: 1rem;
}

input[type=button].btn-to-panel {
  width: 10rem;
  margin-top: 1rem;
}