.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.to-home {
  cursor: pointer;
  text-decoration: none;
  color: black;
}