.field-input__box {
  position: relative;
}

.field-input-text {
  width: 100%;
  height: 1.08rem;
  box-sizing: border-box;
  padding-right: 2rem;
}

.field-input-pass-view {
  position: absolute;
  top: .2rem;
  right: 2rem;
  font-size: .7rem;
}

.field-input-save {
  position: absolute;
  top: .2rem;
  right: 1rem;
  font-size: .7rem;
}

.field-input-close {
  position: absolute;
  top: .2rem;
  right: .1rem;
  font-size: .7rem;
}